{% load static %}

<link rel="stylesheet" type="text/css" href="{%  static '/css/main.css' %}" >

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


</head>


<body style="background-image:url('{% static 'images/images.jpg' %}');">




    <div class="container pt-4 mt-3 text-center">
        <div class="col-lg-4 mx-auto shadow p-0 mt-3" style="background-color: rgba(255, 251, 251, 0.795);">
          
            
    
    
         
    
        
        
          
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                
                <div class="container pt-4 mt-3 text-center">
                    <input type="file" name="sentFile"/>
                
                </div>

                <div class="container pt-4 mt-3 text-center">
                <button type="submit" class="btn btn-dark">Predict</button>
            </div>
            </form>
            
        
              
            <div class="container pt-4 mt-3">
          <h3> {{name}}</h3>
          </div>
        
        
        
    

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</div>
</div>
</html>